/*
* {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

*/

.banner {
  height: 100%;
  width: 100%;
  background-image: url(../images/the-flatiron-building.png);
}

h1{
  font-size: 70px;
  color: white;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
}

.banner, a {
  font-family: Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 18px;
}

.banner a:hover {
  background-color: #7b929a;




/*

}


/*

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li a {
    list-style-type: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav li a:hover {
    background-color: #111;
}

/*

.nav li {
    display: inline;
}

*/
